*{
    color: black !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bg-theme{
    background-color: rgba(115, 115, 156, 0.5);
}

.bg-mytrans{
        --bs-bg-opacity: 1;
        background-color: #00000033 !important;
}

.bg-nav{
        background-color: #0000008f !important;
}

ul li.nav-item:hover{
    background-color: #0000004d !important;
}