*{
    color: black !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 720px) {
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
    }
    .offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
        visibility: visible;
    }
    .offcanvas.offcanvas-start {
        top: 0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%);
    }
    .offcanvas.offcanvas-start {
        top: 0;
        left: 0;
        width: var(--bs-offcanvas-width);
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%);
    }
}

.bg-theme{
    background-color: rgba(115, 115, 156, 0.5);
}

.bg-mytrans{
        --bs-bg-opacity: 1;
        background-color: #c7d5c79e  !important;
}

.bg-nav{
        background-color: #0000008f !important;
}

.mt-5{
    margin-top: 3.5rem !important;
}

ul li.nav-item:hover{
    background-color: #0000004d !important;
}

ul{
    overflow-y: auto;
}

#sidebar{
    /* z-index: 996; */
    transition: all 0.3s;
}